{% extends 'base.html.twig' %}

{% from 'common/_macros.html.twig' import show_comment %}

{% block title %}Movies{% endblock %}

{% block content %}
    <div class="row">
        <h1>Movie catalog</h1>
        {% for movie in movies %}
            <div class="col-md-4 col-xs-12 movie">
                <p>{{ movie.name|upper }}</p>
                <a href="{{ path('movie_show', {id: movie.id}) }}"><img class="poster" src="{{ movie.imageUrl }}" alt="{{ movie.name }}'s poster"/></a>
                <div><a href="{{ path('movie_show', {id: movie.id}) }}">Read more</a></div>
            </div>
        {% endfor %}
    </div>

    <hr/>
    <div class="comments">
        <h2>Latest comments</h2>
        {% if latestComments|length == 0 %}
            <p>Be the first one to comment a movie!</p>
        {% else %}
            <div class="row">
                {% for comment in latestComments %}
                    <div class="col-md-4 col-xs-6 comment">
                        {{ show_comment(comment, true) }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
