{% extends 'base.html.twig' %}

{% import _self as self %}
{% macro show_sorted_comments(comments, depth) %}
    {% from 'common/_macros.html.twig' import show_comment %}

    {% for comment in comments|sort((a,b) => (a.likes < b.likes)) %}
        <div class="row comment" style="padding-left: {{ depth * 20 }}px;">
            <div class="col-md-12 col-xs-12">
                {{ show_comment(comment, false, depth) }}
                {{ self.show_sorted_comments(comment.answers, depth + 1) }}
            </div>
        </div>
    {% endfor %}
{% endmacro %}

{% block title %}{{ movie.name }}{% endblock %}

{% block content %}
    <div class="row movie">
        <div class="col-md-12 col-xs-12">
            <h1>{{ movie.name|upper }}</h1>
            <p><a href="{{ path('movie_index') }}">Go back to catalog</a></p>
            <img class="poster" src="{{ movie.imageUrl }}" alt="{{ movie.name }}'s poster"/>
            <p class="description">{{ movie.description }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <a href="{{ path('comment_create', {id: movie.id}) }}">Leave a comment about this movie!</a>
        </div>
    </div>

    <hr/>
    <div class="row">
        <div class="col-md-12 col-xs-12 comments">
            <h2>Comments</h2>
            {% if movie.comments|length == 0 %}
                <p>Be the first one to comment the movie!</p>
            {% else %}
                {{ self.show_sorted_comments(movie.comments) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
